@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button-primary {
        @apply mb-4 py-2 px-4 mt-4 bg-[--primary-color] text-white rounded-md w-full sm:w-fit sm:min-w-[140px];
    }

    .back-link {
        @apply mb-3 underline text-emerald-700 text-sm text-gray-800 underline-offset-4;
    }

    .back-link:hover {
        @apply decoration-gray-800 decoration-2;
    }

    .main-content {
        @apply p-4 sm:p-8;
    }

    h4 {
        @apply uppercase tracking-wider font-bold text-gray-700;
    }

    .contact-info {
        @apply text-base;
        margin-bottom: 0px;
    }

    p {
        @apply text-base text-gray-700 mb-3;
    }
}

.lucide {
    width: 20px;
    height: 20px;
    color: #9ca3af;
}

.back-icon {
    margin-top: 1px;
}

html {
    --primary-color: #047857;
    --primary-color-hover: #10b981;
}

body {
    font-family: "Open Sans", serif;
}

.resizable {
    overflow: hidden;
    resize: horizontal;
}

/* .draggable {
    position: absolute;
    z-index: 100;
} */

.draggable-handler {
    cursor: pointer;
}
.dragging {
    cursor: move;
    z-index: 200 !important;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: var(--primary-color);
    cursor: pointer;
    padding-bottom: 8px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    /* transition: 0.4s; */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    color: var(--primary-color-hover);
}

/* Style the accordion panel. Note: hidden by default */
.item-group {
    background-color: white;
    display: none;
    /* overflow: hidden; */
}
